@font-face {
    font-family: 'bebasneue';
    src: url('../fonts/bebasregular-webfont.woff2') format('woff2'),
         url('../fonts/bebasregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media screen and (max-width:480px) {
    .main, .base{
        display: none;
    }
    .navbar{
        position:fixed;
    }
    .block{
        margin-top: 80px;
    }
}
html, body {
    background: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0;
    font-family: 'Playfair Display', serif;
}
.navbar{
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 999;
}
.header{
    text-align: center;
}
.main, .base{
    text-align: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    
}
.container-fluid{
    font-family: 'bebasneue';
    font-size: 20px;
}
.performers{
    width: 150px;
}
#logo {
    width: 40px;
}
#logo2{
    width: 100px;
}
.menu{
    text-align: center;
    margin-top: -60px;
    font-size: 100%;
}
.homepage{
    text-align: center;
    margin-top: 60px;
    font-size: 100%;
}
.performance {
    text-align: center;
}
h2, h3{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #00b3b3;
}
.jumbotron{
    background-color: white;
}
h1 {
   font-family: 'Cormorant Garamond', serif;
    padding-bottom: 20px;
}
hr { 
width: 50%;}
.jumbotron{
    text-align: center;
}
.homepage {
    margin-top: -30px;
}
.jumbotron2 {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    
}