@font-face {
    font-family: 'bebasneue';
    src: url('../fonts/bebasregular-webfont.woff2') format('woff2'),
         url('../fonts/bebasregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html, body {
    background: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0;
    font-family: 'Playfair Display', serif;
}
.header{
    text-align: center;
}
.main{
    text-align: center;
    margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid{
    font-family: 'bebasneue';
    font-size: 20px;
}
.performers{
    width: 150px;
}
img{
    width: 100%;
}
.logo {
    width: 150px;
}
.menu{
    text-align: center;
    margin-top: -60px;
    font-size: 100%;
}
.homepage{
    text-align: center;
    margin-top: 60px;
    font-size: 100%;
}
.performance {
    text-align: center;
}
h2, h3{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #00b3b3;
}
.jumbotron{
    background-color: white;
}
h1 {
   font-family: 'Cormorant Garamond', serif;
    padding-bottom: 20px;
}
hr { 
width: 50%;}
.jumbotron{
    text-align: center;
}
.homepage {
    margin-top: -30px;
}
.jumbotron2 {
    background: black;
    color: white;
    padding: 20 20 20 20;
    text-align: center;
    width: 100%;
    
}