@font-face {
    font-family: 'bebasneue';
    src: url('../fonts/bebasregular-webfont.woff2') format('woff2'),
         url('../fonts/bebasregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html, body {
    background: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0;
}
.nav {
    background-color: #AB987A;
    overflow: hidden;
    border-radius: 2px;
    margin: 0 0 30px;
    width: 100%;
    position: fixed;
    top: 0;
}
#nav {
    top: 0;
    width: 750px;
    margin: 0 auto;
    list-style: none;
}
#nav li {
    float: left;
}
#nav a{
    font-family: 'bebasneue';
    color: #EFEFEF;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    width: 150px;
}
#nav a:hover{
    background-color: #A0B7C0;
}
.main{
    text-align: center;
    margin-top: 55px;
    margin-right: auto;
    margin-left: auto;
}
img{
    width: 100%;
}